/*------------------------
  # Header-------------OK-
  -----------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}
#logoarg {
  width: 100px;
  height: auto;
}
#header.header-scrolled {
  background: rgba(0, 0, 0, 0.9);
  padding: 12px 0;
}

#social1 {
  margin-right: 20px;
  margin-left: 10px;
  color: #808080;
  font-size: 20px;
}
#social2 {
  margin-right: 20px;
  margin-left: 10px;
  color: #808080;
  font-size: 20px;
}
#login {
  margin-bottom: 6px;
  margin-right: 20px;
  margin-left: 10px;
}
/*---------------------------
  # Hero Section          -OK
  --------------------------*/
.hero {
  height: 100vh;
  position: relative;
  color: #fff;
}

.hero-content {
  margin-top: 30px;
}

.hero .hero-content {
  text-align: center;
  position: absolute;
}
.hero .overlay-itro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

.hero-title {
  text-transform: none;
  font-size: 3rem;
}

.hero .hero-title {
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
}
@media (min-width: 768px) {
  .hero .hero-title {
    font-size: 4.5rem;
  }
}
/*====================
  # Profile-         OK
=====================*/
#info-img {
  display: flex;
}

.profile-image {
  border-radius: 50%;
  width: 152px;
  height: 152px;
  margin-top: -110px;
  z-index: 1;
}

div#info-contact span {
  font-size: 1rem;
  font-weight: 400;
}
div#info-contact span a {
  color: #0a66c2;
  touch-action: manipulation;
  text-decoration: none;
}

div#info-data {
  display: flex;
  justify-content: space-between;
}

div#info-data h1 {
  font-size: 1.8rem;
  display: inline;
  font-weight: 500;
  line-height: 1.25;
  word-wrap: break-word;
  word-break: break-word;
}
div#info-data ul#info-details {
  width: 232px;
  list-style: none;
  flex-shrink: 0;
}
div#info-data ul#info-details li a {
  color: black;
  display: flex;
  text-decoration: none;
  margin-top: 40px;
}
div#info-data ul#info-details li a h2 {
  font-size: 1rem;
  font-weight: 500;
  align-self: center;
  vertical-align: baseline;
}
div#info-data ul#info-details li a img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.btn-right {
  display: flex;
  align-self: flex-end;
}
